<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>pop'n rhythmin</string>
    <key>CFBundleName</key>
    <string>PopnRhythmin</string>
    <key>CFBundleExecutable</key>
    <string>PopnRhythmin</string>
    <key>CFBundleIdentifier</key>
    <string>jp.co.konami.popnrhythmin</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>2.0.3</string>
    <key>CFBundleVersion</key>
    <string>2.0.3</string>
    <key>LSRequiresIPhoneOS</key>
    <true />
    <key>MinimumOSVersion</key>
    <string>5.1.1</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>opengles-2</string>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UIRequiresFullScreen</key>
    <true />
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>pop'n rhythmin saves your result screenshots to your photo library.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>pop'n rhythmin uses your location to show nearby arcades on the map.</string>

    <key>UIStatusBarHidden</key>
    <true />
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false />
  </dict>
</plist>
